:root {
  --branding-color: #eeeee6;
  --body-color: #1c1a19;
  --secondary-color: #a6a6a6;
  --heading-font-family: "RasputinRegular";
  --default-font-family: "Space Grotesk", sans-serif;
}

body {
  background: var(--branding-color);
  color: var(--body-color);
}

h1,
h5 {
  font-family: var(--heading-font-family);
}

p {
  font-size: 16px;
  font-family: var(--default-font-family);
}

.header {
  text-align: center;
}

.description {
  font-family: var(--default-font-family);
}

.section {
  padding: 80px;
}

.content-container {
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.about-container {
  border: 1px solid;
  padding: 50px;
}

.text-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.contact-btn {
  font-family: var(--heading-font-family);
  font-size: 18px;
}
.portfolio-btn {
  font-family: var(--heading-font-family);
  font-size: 18px;
}

.contact-descriptions {
  color: var(--secondary-color);
}

a:hover {
  text-decoration: none;
  color: var(--body-color);
}
.contact-links {
  text-decoration: none;
  color: var(--body-color);
}

.icon {
  max-height: 40px;
}

nav a {
  font-size: 14px;
}

nav {
  padding: 15px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  font-family: var(--default-font-family);
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: var(--body-color);
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

#flexbox {
  display: flex;
}

@media (max-width: 600px) {
  .content-container {
    text-align: center;
    padding: 20px;
  }
  .text-wrapper {
    margin: 0 auto;
  }
}
